
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Animal Activism PDX</title>

    <!-- https://materializecss.com/ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- https://vuejs.org/ -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- https://github.com/axios/axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>




    <style>
        * {
            box-sizing: border-box;
        }
        body {
            font-family: 'Open Sans', sans-serif;
            scroll-behavior: smooth;
        }
        #title_long {
            display:none;
            white-space: nowrap;
        }
        #title_short {
            white-space: nowrap;
        }
        @media only screen and (min-width: 800px) {
            #maincontainer {
                width:800px;
                margin:0 auto;
            }
            #title_short {
                display: none;
            }
            #title_long {
                display:inherit;
            }
        }


    </style>

</head>
<body class="green lighten-4">
    <div id="maincontainer">
        <nav class="green">
            <div class="nav-wrapper">
                <a href="/" id="title_short" class="brand-logo center">AAPDX</a>
                <a href="/" id="title_long" class="brand-logo center">Animal Activism PDX</a>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
    <script>
        let symbols = {
            // 'leaf_left': '☙',
            // 'flower': '⚘',
            'seedling': '🌱',
            'evergreen_tree': '🌲',
            'deciduous_tree': '🌳',
            // 'palm_tree': '🌴',
            'cactus': '🌵',
            // 'tulip': '🌷',
            // 'cherry_blossom': '🌸',
            'rose': '🌹',
            // 'hibiscus': '🌺',
            'sunflower': '🌻',
            // 'blossom': '🌼',
            'herb': '🌿',
            'four_leaf_clover': '🍀',
            'maple_leaf': '🍁',
            'fallen_leaf': '🍂',
            // //'leaf_fluttering_in_wind': '🍃',
            // 'tomato': '🍅',
            // 'aubergine': '🍆',
            // 'grapes': '🍇',
            // 'melon': '🍈',
            // 'watermelon': '🍉',
            // 'tangerine': '🍊',
            // 'lemon': '🍋',
            // 'banana': '🍌',
            // 'pineapple': '🍍',
            // 'red_apple': '🍎',
            // 'green_apple': '🍏',
            // 'pear': '🍐',
            // 'peach': '🍑',
            // 'cherries': '🍒',
            // 'strawberry': '🍓',
            // //'boquet': '💐',
            // 'white_flower': '💮',

            // 'white chess knight': '♘',
            // 'black chess knight': '♞',
            'rat': '🐀',
            'mouse': '🐁',
            'ox': '🐂',
            'water buffalo': '🐃',
            'cow': '🐄',
            'tiger': '🐅',
            'leopard': '🐆',
            'rabbit': '🐇',
            'cat': '🐈',
            //'dragon': '🐉',
            'crocodile': '🐊',
            'whale': '🐋',
            'snail': '🐌',
            'snake': '🐍',
            'horse': '🐎',
            'ram': '🐏',
            'goat': '🐐',
            'sheep': '🐑',
            'monkey': '🐒',
            'rooster': '🐓',
            'chicken': '🐔',
            'dog': '🐕',
            'pig': '🐖',
            'boar': '🐗',
            'elephant': '🐘',
            'octopus': '🐙',
            'spiral shell': '🐚',
            'bug': '🐛',
            'ant': '🐜',
            'honeybee': '🐝',
            'lady beetle': '🐞',
            'fish': '🐟',
            'tropical fish': '🐠',
            'blowfish': '🐡',
            'turtle': '🐢',
            'hatching chick': '🐣',
            'baby chick': '🐤',
            'front-facing baby chick': '🐥',
            'bird': '🐦',
            'penguin': '🐧',
            'koala': '🐨',
            'poodle': '🐩',
            'dromedary camel': '🐪',
            'bactrian camel': '🐫',
            'dolphin': '🐬',
            'mouse face': '🐭',
            'cow face': '🐮',
            'tiger face': '🐯',
            'rabbit face': '🐰',
            'cat face': '🐱',
            //'dragon face': '🐲',
            'spouting whale': '🐳',
            'horse face': '🐴',
            'monkey face': '🐵',
            'dog face': '🐶',
            'pig face': '🐷',
            'frog face': '🐸',
            'hamster face': '🐹',
            'wolf face': '🐺',
            'bear face': '🐻',
            'panda face': '🐼',
            'pig nose': '🐽',
            'paw prints': '🐾',
            //'grinning cat face with smiling eyes': '😸',
            //'cat face with tears of joy': '😹',
            //'smiling cat face with open mouth': '😺',
            //'smiling cat face with heart-shaped eyes': '😻',
            //'cat face with wry smile': '😼',
            //'kissing cat face with closed eyes': '😽',
            //'pouting cat face': '😾',
            //'crying cat face': '😿',
            //'weary cat face': '🙀',
            'see-no-evil monkey': '🙈',
            'speak-no-evil monkey': '🙊',
            'hear-no-evil monkey': '🙉',

        }

        let title_short = document.querySelector('#title_short')
        let title_long = document.querySelector('#title_long')

        let keys = Object.keys(symbols)
        let symbol = symbols[keys[Math.floor(keys.length * Math.random())]];
        title_short.innerHTML = symbol + ' AAPDX ' + symbol
        title_long.innerHTML = symbol + ' Animal Activism PDX ' + symbol


        // test code
        // let i = 0
        // setInterval(function() {
        //     let keys = Object.keys(symbols)
        //     let symbol = symbols[keys[i%keys.length]]
        //     i += 1
        //     title_short.innerHTML = symbol + ' PAA ' + symbol
        //     title_long.innerHTML = symbol + 'Portland Animal Activism' + symbol
        // }, 1000)

    </script>
</body>
</html>
