{% extends 'app/base.html' %}




{% block content %}

<style>
    #event_list {
      display:flex;
      flex-direction:column;
      margin:0 auto;
    }
    #event_list > div {
      margin-top:20px;
      transition: all ease 0.2s;
      /*box-shadow: 0px 2px 2px lightgrey;*/
      cursor:pointer;
    }

    #event_list ul {
      margin:0;
    }

    .event_title {
      font-size:24px;
    }

    #pages > span {
      margin:4px;
      cursor:pointer;
      padding:4px;
    }

    .collapsible-header {
      display:flex;
      flex-direction: column;
    }

    .list_element > li {
      margin:0 0 20px 0 !important;
      width:100% !important;
    }


    @media only screen and (min-width: 800px) {
        #filters {
            display:flex;
            flex-direction: row;
            width:100%;
        }
        #filters > div {
            width:33%;
            padding:10px;
        }
    }

    .pagination {
        text-align:center;
    }

    .list_element li.active i {
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
      transform: rotate(180deg);
    }


    /* .event_expand_bt {
      display:table;
      height:100%;
    }
    .event_expand_bt > * {
      text-align:right;
      vertical-align: middle;
      display:table-cell;
    } */

    .event_expand_bt i {
      margin:0;
    }

    .flex_column {
      display:flex;
      flex-direction:column;
    }

    /* #filters select, #filters input {
      background-color:white;
      padding:8px;
      color:black;
    } */


    #filters > div {
      background-color:white;
      margin:4px;
    }


</style>
<div id="app">

    <div id="event_list">
        {% comment %}
        <div id="filters">
          <div class="input-field col s6">
            <select id="type" v-model="filter_type" @change="page=1; refresh()">
                <option value="events" selected>Events</option>
                <option value="organizations">Organizations</option>
            </select>
          </div>
          <div class="input-field col s6">
            <select v-model="filter_category_id" @change="page=1; refresh()">
                <option value="0">Any</option>
                {% for category in categories %}
                <option value="{{category.id}}">{{category.name.title}}</option>
                {% endfor %}
            </select>
          </div>
          <div class="input-field col s6" v-show="filter_type == 'events'">
            <input placeholder="" id="first_name" type="date" v-model="filter_start_date" @change="refresh">
          </div>

        </div>
        {% endcomment %}
        <div v-if="filter_type == 'events'">
          <div style="text-align:center" v-if="events.length == 0" class="white">no events to display</div>
          <ul class="collapsible popout list_element">
              <li v-for="event in events" class="white">
                  <div class="collapsible-header">
                      <div style="display:flex;flex-direction:row;justify-content: space-between;">
                          <div class="flex_column">
                              <div class="event_title">[[event.title]]</div>
                              <div v-if="event.organizations != ''">Hosted by [[event.hosts]]</div>
                              <div>[[event.datetime]]</div>
                              <div>[[event.location]]</div>
                          </div>
                          <div class="flex_column" style="justify-content: space-between;">
                            <div v-if="event.link != ''" class="event_expand_bt">
                                <a class="btn green white-text" v-bind:href="event.link" target="_blank">
                                    <i class="material-icons">link</i>
                                </a>
                            </div>
                            <div class="event_expand_bt" style="">
                                <div class="btn green white-text">
                                    <i class="material-icons">expand_more</i>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="collapsible-body">
                      <span v-html="event.description"></span>
                  </div>
              </li>
          </ul>
        </div>
        <div v-if="filter_type == 'organizations'">
          <div style="text-align:center" v-if="orgs.length == 0" class="white">no organizations to display</div>
          <ul class="list_element">
              <li v-for="org in orgs" class="white">
                  <div class="collapsible-header">
                      <div style="display:flex;flex-direction:row;justify-content: space-between;">
                          <div class="flex_column">
                              <div class="event_title">[[org.name]]</div>
                              <div>[[org.address]]</div>
                              <div>[[org.phone_number]]</div>
                              <div>[[org.email_address]]</div>
                          </div>
                          <div class="flex_column" style="justify-content: center;">
                            <div v-if="org.url != ''" class="event_expand_bt">
                                <a class="btn green white-text" v-bind:href="org.url" target="_blank">
                                    <i class="material-icons">link</i>
                                </a>
                            </div>
                          </div>
                      </div>
                  </div>
              </li>
          </ul>
        </div>
        </div>

        <ul class="pagination" v-show="pages > 1">
            <li v-bind:class="{ disabled: page == 0 }"><a href="#" @click="prevPage"><i class="material-icons">chevron_left</i></a></li>
            <li v-for="n in pages" v-bind:class="{active: (page == n), green: (page == n) }"><a href="#" @click="setPage(n)">[[n]]</a></li>
            <li><a href="#" @click="nextPage"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>
</div>
<script>





    document.addEventListener('DOMContentLoaded', function () {
        var ddls = document.querySelectorAll('select')
        var ddl_instances = M.FormSelect.init(ddls, {})

        var uls = document.querySelectorAll('.collapsible');
        var ul_instances = M.Collapsible.init(uls, {});
    });

    let app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            events: [],
            orgs: [],
            pages: 0,
            page: 1,
            filter_type: 'events',
            filter_start_date: null,
            filter_category_id: 0,
        },
        methods: {
            prevPage: function() {
                if (this.page > 1) {
                    this.page -= 1
                    this.refresh()
                }
            },
            nextPage: function() {
                if (this.page < this.pages) {
                    this.page += 1
                    this.refresh()
                }
            },
            setPage: function(n) {
                this.page = n
                this.refresh()
            },
            refresh: function() {
              if (this.filter_type == 'events') {
                this.loadEvents()
              } else {
                this.loadOrgs()
              }
            },
            loadEvents: function() {
                axios.get('/get_events/', {
                    params: {
                        'page': this.page,
                        'start_date': this.filter_start_date,
                        'category_id': this.filter_category_id
                    }
                }).then(result => {
                    this.events = result.data.events
                    this.pages = result.data.pages
                    window.scrollTo(0, 0);
                })
            },
            loadOrgs: function() {
              axios.get('/get_orgs/', {
                params: {
                    'page': this.page,
                    'category_id': this.filter_category_id
                }
              }).then(result => {
                  this.orgs = result.data.orgs
                  this.pages = result.data.pages
                  window.scrollTo(0, 0);
              })
            }
        },
        created: function() {

            var now = new Date()
            var day = ('0' + now.getDate()).slice(-2)
            var month = ('0' + (now.getMonth() + 1)).slice(-2)
            var today = now.getFullYear()+'-'+(month)+'-'+(day)
            this.filter_start_date = today

            this.refresh()
        }
    })

</script>


{% endblock %}
