
{% extends 'app/base.html' %}


{% block content %}
{% if message %}
<span style="background-color:green;color:white;font-size:40px">{{message}}</span>
{% endif %}


<style>
    form {
        width:400px;
        margin: 40px auto;
    }
    button {
        margin-top:10px;
    }
</style>




<form action="{% url 'app:login' %}?next={{next}}" method="post">
    {% csrf_token %}
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder=""/>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder=""/>
    <button type="submit" class="btn blue">login</button>
</form>





{% endblock %}
