{% extends 'app/base.html' %}

{% block content %}
{% if message %}
<div class="message blue white-text z-depth-2">{{message}}</div>
{% endif %}

<style>
    .row {
        padding: 10px;
        margin:10px;
    }
    .message {
        margin: 10px;
        padding:10px;
        text-align:center;
        cursor: default;
    }
</style>

<div class="white z-depth-2 row">
    <form action="{% url 'app:pending_facebook_events' %}?action=add" method="post" class="col s12">
        {% csrf_token %}
        <div class="input-field inline" style="width:80%">
            <input placeholder="https://www.facebook.com/events/1789125017772768/" id="facebook_url" type="text" name="facebook_url" pattern="https:\/\/www\.facebook\.com\/events\/\d+\/"/>
            <label for="facebook_url">Facebook Event URL</label>
        </div>
        <button type="submit" class="btn">Add</button>
    </form>

</div>

<div class="white z-depth-2 row">
    <form action="{% url 'app:pending_facebook_events' %}?action=load" method="post">
        {% csrf_token %}
        <button type="submit" class="btn">Load All</button>
    </form>
    <br/>
    <ul>
    {% for pending_event in pending_events %}
        <li><a target="_blank" href="{{pending_event.url}}">{{pending_event.url}}</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}




